@import "tailwindcss";

* {
    font-family: "Montserrat" sans-serif

}

    .container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
    .container::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

.animated-text {
    color: white;
    font-size: 30px;
    min-width: 280px;
}

.animated-text span {
    position: relative; 

}

.animated-text span::before{
    content: "";
    color: #f29108;
    animation: words 10s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    background-color: #D6D3D1;
    height: 100%;
    border-left: 2px solid;
    right: -8px;
    animation: cursor 0.8s infinite, typing 10s steps(12) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid;
    }
}

@keyframes words {
    0%, 33%{
        content: " Skoghall.";
    }
    
    34%, 66%{
        content: " Säffle.";
    }
    
    67%, 100%{
        content: " Åmål.";
    }
    
}

@keyframes typing {
    15%,25%,45%,60%,75%,85%{
        width: 0;
    }
    5%,33%,40%,66%,70%,90%{
        width: calc(100% + 8px);
    }
}